*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{

        }
        .main{
            width: 100%;
            height: auto;
            background: linear-gradient(white, rgb(238, 238, 184));

        }
        .header{
            width:100%;
            height: auto;
        }
        .header-container{
            width: 100%;
        }
        .header-container .logo{
            width: fit-content;
            height: auto;
            margin:auto;
        }
        .logo img{
            width: 50%;
            height: inherit;
            display: block;
            margin: auto;

        }
        .main-content-1{
            width: 100%;
            height: 40%;
            display: flex;
        }
        .main-content-1 > div{
            height: 100%;
            padding: 10px;
            overflow-x: hidden;
            line-height: 1.3;
        }
        .main-content-1 .img-1 img{
            width: 30vw;
            height: inherit;
        }
        .main-content-1 > div .img-2 img{
            width: 90%;
            display: block;
            margin: auto;
        }
        .cont-2{
            width: 70vw;
        }
        .cont-2 > div ul{
            padding-left: 30px;

        }
        .cont-2 > div ul li{
            line-height: 1.7;
        }
        .main-content-2{
            width: 100%;
            height: 100%;

        }
        .main-content-2 p{

            width: 97%;
            padding:10px;
            margin: auto;
        }
        .main-image-container{
            width: 90%;
            margin: auto;
        }
        .main-image-container img{
            width: inherit;
            display: block;
            margin: auto;
        }
        .main-item{
            width: fit-content;
            margin: auto;
        }
        .cont-2{
            height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            grid-gap:15px;
            align-content: space-around;
        }
        .footer{
            width: 98%;
            height: fit-content;
            margin: 20px auto;
            border-top: 2px solid red;
        }
        .footer b{
            display: block;
            width: fit-content;
            height: fit-content;
            padding:10px;
            margin: auto;
        }
        .footer > div p{
            text-align: center;
            width: 99%;

            padding:10px;
        }

        .sm > div{
            width: 100%;
            height: inherit;
            display: flex;
            padding-top:20px;
            align-items: flex-start;
            align-content:space-around;

            color: #ffffff;
            justify-content: space-around;
        }
        .sm{
            width: 100%;
            min-height: 80px;
            margin: auto;
            background-color: red;
        }
        .sm > div > div i {
           border-radius: 50%;
        }

        @media(max-width: 860px){
            .cont-2{
            width: 100%;
        }
            .main-content-1{
                width: 100%;
                overflow: hidden;
                flex-direction: column;
            }
            .main-content-1 .img-1 img{
            display: block;
            margin: auto;
        }
        .main-content-1 p{
        padding: 10px 5px;
        }
        .main-content-1, .main-content-2{
            width: 100%;
            margin: auto;
           padding:10px;
}
        }
        @media(max-width: 630px){

        .sm > div{
            flex-direction: column;
            height: fit-content;
            width: fit-content;
            margin:  auto;
            justify-content: center;
            align-items: flex-start;
            align-content: center;
            text-align: justify;
            grid-gap: 20px;
        }
        }